
<!doctype html>
<html lang="en">

<head>
    <title>Signals</title>
    <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" /> -->
  <style>
    body{
      padding: 20px;
    }
    main{
      min-height: 100vh;
      height: auto;
      }
      @media (min-width: 1400px){
        .container{
            max-width: 95%;
        }
    }      
    footer{
      position: relative;
      bottom: 0;
      display: inline-block;
      width: 100%;
      padding: 20px;
      background-color: rgba(90, 133, 133, 0.808);
      color: aliceblue;
    }
    footer a{
      color: aliceblue;

    }
    table td , table th{
      text-align:center;
    }
    table td {
      font-size: small;
    }
    table td:last-child{
      word-break: break-all;

    }
    table tr{
    }
    div.table-responsive{
      min-height: 300px;
      max-height: 500px;
      overflow-y: scroll;
    }
  </style>
</head>

<body style="height: 100%;">
  <header>
    <div class="container">
        <h1>Signals</h1>
  
    <hr/>
    </div>
  </header>
  <main>

    <div class="container">
        <div class="row">
          {%for t in tables %}
            {%if tables[t] %}
              <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding:30px;">
                <h4 style="text-align: center;">Time Frame: {{t}}</h4>
                <div style="text-align: center; width: 100%;">

                </div>
                <div style="width: 100%;">
                  <input class="search form-control" id="pretty_search_{{t}}" placeholder="Search Coin or Pattern Here ... " />
                </div>
                <div class="table-responsive">
                  {{tables[t][0]}}
                  </div>
              </div>

            {%endif%}

          {%endfor%}



    </div>

  </main>
  <footer>
      <a style="font-size: small" href="https://github.com/arouzbehani/tradebot" target="_blank">https://github.com/arouzbehani/tradebot</a>

    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function(){
    })
    $(document).on('keyup', 'input', function () {
      var id=$(this)[0].id;
                tf=id.split('_')[2]
                tableid=id.split('_')[0]+"_table_"+tf
                var value = $(this).val();
                $("table#"+tableid+" tr").each(function (index) {
                    if (index != 0) {

                        $row = $(this);

                        var coin = $row.find("td:first").text();
                        var pattern = $row.find("td:nth-child(5)").text();
                        // var brout = $row.find("td:nth-child(5)").text();
                        var bb = $row.find("td:nth-child(6)").text();
                        var rsi = $row.find("td:nth-child(7)").text();
                        // var ema = $row.find("td:nth-child(8)").text();
                        var sma = $row.find("td:nth-child(8)").text();
                        // var force = $row.find("td:nth-child(10)").text();
                        var ml = $row.find("td:nth-child(9)").text();
                        
                        if (!(
                            coin.toLowerCase().includes(value.toLowerCase()) || 
                            pattern.toLowerCase().includes(value.toLowerCase()) || 
                            // brout.toLowerCase().includes(value.toLowerCase()) ||
                            bb.toLowerCase().includes(value.toLowerCase()) ||
                            rsi.toLowerCase().includes(value.toLowerCase()) ||
                            // ema.toLowerCase().includes(value.toLowerCase()) ||
                            sma.toLowerCase().includes(value.toLowerCase()) ||
                            // force.toLowerCase().includes(value.toLowerCase()) ||
                            ml.toLowerCase().includes(value.toLowerCase()) 

                            )
                            
                            ) {
                            $(this).hide();
                        }
                        else {
                            $(this).show();
                        }
                    }
                });
})

</script>
</body>

</html>